Thực hiện lại phần demo trên dữ liệu InstaCart:
1. Sử dụng hàm 'interactive' thay cho hàm 'interact'
2. Bổ sung thêm Button sao cho sau khi chọn các options xong, phải click lên
Button mới thực hiện vẽ lại figure
Luyện tập: áp dụng interactive widgets cho phân tích EDA dữ liệu chuyến bay

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import ipywidgets as widgets
print(widgets.__version__)

7.6.5

In [2]:
df = pd.read_csv('aisle_deparment_counts.csv') 
df.head(3)

   aisle_id  counts                   aisle  department_id department
0         1   15632   prepared soups salads             20       deli
1        13   21357          prepared meals             20       deli
2        14   28085  tofu meat alternatives             20       deli

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   aisle_id       134 non-null    int64
 1   counts         134 non-null    int64
 2   aisle          134 non-null    object
 3   department_id  134 non-null    int64
 4   department     134 non-null    object
dtypes: int64(3), object(2)
memory usage: 5.4+ KB

In [4]:
from IPython.display import display, clear_output

In [5]:
df = df.sort_values('counts', ascending=False)
df.reset_index(drop=True, inplace=True)
df.head()

   aisle_id  counts                       aisle  department_id  department
0        24  786888                fresh fruits              4     produce
1        83  737374            fresh vegetables              4     produce
2       123  381575  packaged vegetables fruits              4     produce
3       120  313279                      yogurt             16  dairy eggs
4        21  211480             packaged cheese             16  dairy eggs

20 largest aisles and the rest

In [6]:
N = 20
df1 = df[['counts', 'aisle']][0:N]
other_count = df['counts'][N:].sum()
print(other_count)

other = pd.DataFrame({'counts': [other_count], 'aisle': ['others']})
df1 = df1.append(other, ignore_index=True)
df1.tail(5)

2802620

     counts              aisle
16    85093         lunch meat
17    84205       frozen meals
18    83167  baby food formula
19    81378        fresh herbs
20  2802620             others

Bar plot

In [124]:
wOutput = widgets.Output(layout={'border': '1px solid white'})
wIntSlider = widgets.IntSlider(description="Aisles", value=10, min=3, max=20, step=1)
wButton = widgets.Button(description="Plot", button_style='info', tooltip="Click here", icon= 'check') 
# display(wIntSlider, wOutput)

def aislePlot(N):
    df2 = df[['counts', 'aisle']][0:N]
    other = pd.DataFrame({'counts': [df['counts'][N:].sum()], 'aisle': ['others']})
    df2 = df2.append(other, ignore_index=True)
    df2.plot.bar(y='counts', color='orange', alpha=0.7, figsize=(8,3))
    plt.xticks(df2.index,df2['aisle'], rotation=-60, ha='left')
    plt.title("The largest aisles by orders")
    plt.show()
    plt.close('all')
        
wHBox = widgets.HBox([wIntSlider, wButton])
display(wHBox)

wAislePlot = widgets.interactive(aislePlot, N=wIntSlider)

def wAction(click):
    with wOutput:
        wOutput.clear_output()
        global wIntSlider
        display(wIntSlider)
        # print(wIntSlider.value)
        aislePlot(N=wIntSlider.value)
        # display(wAislePlot)

wButton.on_click(wAction)
display(wOutput)

# wVBox = widgets.VBox([wHBox, wOutput])
# display(wVBox)

HBox(children=(IntSlider(value=10, description='Aisles', max=20, min=3), Button(button_style='info', descripti…

Output(layout=Layout(border='1px solid white'))

In [110]:
display(wAislePlot)

interactive(children=(IntSlider(value=7, description='Aisles', max=20, min=3), Output(outputs=({'output_type':…